.search-page-container {
  position: relative;
  display: flex;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
  gap: 20px;
}

.search-filters-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-right: 30px;
}

.search-results-container {
  flex: 1;
  overflow: hidden;
}

.search-header {
  width: auto;
  height: auto;
  margin-left: 10px;
}

.button-container {
  width: 100%;
  margin-bottom: 20px;
}

.search-results {
  width: 100%;
}

.search-card-container {
  background-color: #00000013;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  width: 100%;
  margin-bottom: 15px;
  border-radius: 16px;
  position: relative; /* Necesario para posicionar el botón */
  box-sizing: border-box;
}

.card-image {
  flex: 0 0 180px;
  height: 180px;
  padding: 20px;
}

.card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.card-content {
  flex: 1;
  padding: 20px 20px 20px 0;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card-content h3 {
  margin: 0 0 10px 0;
  font-size: 1.5rem;
  color: #333;
}

.card-content p {
  margin: 0 0 15px;
  color: #666;
  line-height: 1.6;
}

.card-price {
  font-size: 1.1rem;
  font-weight: 500;
  color: #444;
}

.view-more-button {
  background-color: #c01ee917;
  padding: 16px;
  margin: 20px;
  border-radius: 16px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.2s;
  border: none;
  align-self: flex-end;
}

.view-more-button:hover {
  background-color: #7214c0fb;
  color: #ebe8e8;
  font-weight: 600;
  transition: all 0.3s;
}

.filtro-servicios-container {
  width: 50px;
}
