.search-page-container {
  position: relative;
  display: flex;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
  gap: 20px;
}

.search-filters-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-right: 30px;
}

.search-results-container {
  flex: 1;
  overflow: hidden;
}

.search-header {
  width: auto;
  height: auto;
  margin-left: 10px;
}

.button-container {
  width: 100%;
  margin-bottom: 20px;
}

.search-results {
  width: 100%;
}

.filtro-servicios-container {
  width: 50px;
}

.pagination-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 10px;
}

.pagination-button {
  padding: 8px 12px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #fff;
  cursor: pointer;
}

.pagination-button.active {
  background-color: #a538ff;
  color: #fff;
  border-color: #a538ff9d;
}

.pagination-button:hover {
  background-color: #f7f7f7;
}
