.onSession {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.user-info {
  cursor: pointer;
}

.profile-menu {
  position: absolute;
  right: 0;
  margin-top: 8px;
  margin-right: 8px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.12);
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 100;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-10px);
  transition: opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1),
    transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.profile-menu.open {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}

.menu-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  height: 60px;
  padding: 8px 16px !important;
  color: #333 !important;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}

.menu-button:hover {
  background-color: #c4c4c4;
  border-radius: 8px;
}

.logOut-titulo {
  font-size: 16px;
  font-weight: light;
  padding-right: 0px;
}

.hamburger-menu {
  display: none;
}

.session-buttons {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

@media (max-width: 600px) {
  .onSession {
    flex-direction: row;
    align-items: center;
  }
  .hamburger-menu {
    display: block;
  }
  .session-buttons {
    opacity: 0;
    pointer-events: none;
    transform: translateY(-10px);
    transition: opacity 0.3s cubic-bezier(0.4, 0, 0.2, 1),
      transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    flex-direction: row;
    gap: 12px;
    position: absolute;
    top: 60px;
    right: 10px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
    padding: 16px;
    z-index: 1000;
  }
  .session-buttons.open {
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
    display: flex;
  }
}
