/* Estilo para todos los días en el rango */
.in-range-day {
  background-color: #2684ff !important;
  color: white !important;
  position: relative;
}

/* Estilos para los días estándar seleccionados y en el rango */
.react-datepicker__day--selected,
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--in-range {
  border-radius: 0.3rem;
  background-color: #216ba5;
  color: #fff;
}
