.alojamiento-item {
  width: 30%;
  height: 850px;
}

.alojamiento-foto {
  height: 75%;
  width: 100%;
  object-fit: cover;
  display: block;
}
.alojamiento-footer {
  display: flex;
  flex-direction: column;
}

.alojamiento-footer-data {
  padding: 3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.alojamiento-footer-actions {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin-top: 2.5%;
}
