.ventana-flotante-confirmacion {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  color: #222;
  padding: 2rem 2.5rem;
  border-radius: 12px;
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.18);
  min-width: 280px;
  text-align: center;
  font-size: 1.1rem;
  z-index: 1001; /* Asegurar que esté por encima del overlay */
}

.ventana-flotante-confirmacion-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000;
  /* Indicar que se puede hacer clic para cerrar */
}

.boton-cerrar-ventana {
  background: rgb(255, 215, 0);
  color: black;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  font-weight: bold;
  cursor: pointer;
}

.boton-cerrar-ventana:hover {
  background: rgb(211, 192, 84);
}

.boton-confirmar-reserva {
  background: rgb(255, 215, 0);
  color: black;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 6px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  margin-right: 20px;
  font-weight: bold;
  cursor: pointer;
}

.boton-confirmar-reserva:hover {
  background: rgb(211, 192, 84);
}

.motivo-texto {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
