.perfil {
  display: flex;
  align-items: center;
  gap: 16px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  width: 100%;
  padding: 15px;
}

.anfitrion {
  width: 403px;
}

.avatar {
  border-radius: 50%;
  height: 80px;
  width: 80px;
}

.informacion-perfil {
  display: flex;
  flex-direction: column;
}

.informacion-perfil h4 {
  margin: 0 0 8px 0;
  font-size: 18px;
}

.email {
  margin: 0;
  font-size: 14px;
  color: #666;
  text-transform: uppercase;
}

@media (max-width: 940px) {
  .anfitrion {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    max-width: 430px;
  }
}

@media (max-width: 600px) {
  .perfil {
    flex-direction: column;
    align-items: center;
  }

  .anfitrion {
    max-width: 70%;
    width: 100%;
  }
}
