.titulo {
  margin-top: 0px;
}

.descripcion {
  max-width: 500px;
  overflow-wrap: break-word;
  word-break: normal;
}

.caracteristicas {
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  padding: 10px;
  margin: 16px 0;
  width: 409px !important;
  align-self: center;
}

.huespedes-max {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 4px;
  margin-top: 4px;
  font-size: 18px;
}

.caracteristica-item {
  font-size: 21px;
  font-weight: normal;
}

.icono-caracteristica {
  margin-right: 15px;
}

.icono-caracteristica img,
.icono-caracteristica svg {
  width: 40px;
  height: 40px;
  object-fit: contain;
  display: block;
}

.parrafo-caracteristica {
  display: flex;
  align-items: center;
}

@media (max-width: 940px) {
  .caracteristicas {
    width: 100%;
    max-width: 100% !important;
    margin: 16px auto;
  }

  .caracteristica-item {
    font-size: 15px;
  }

  .contenedor-descripcion {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

@media (max-width: 600px) {
  .contenedor-general {
    text-align: center;
  }

  .contenedor-titulo {
    width: 100%;
    padding-left: 0px;
    align-items: center;
  }

  .contenedor-descripcion {
    width: 100%;
    max-width: 100vw;
    box-sizing: border-box;
    padding: 0 10px;
    overflow-x: hidden;
  }

  .caracteristicas {
    width: 100%;
    max-width: 70% !important;
    margin: 16px auto;
  }

  .caracteristica-item {
    font-size: 14px;
  }

  .titulo {
    padding: 0px 30px;
  }

  .descripcion {
    padding: 0px 30px;
    text-align: center;
  }
}
