html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.pie {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: auto;
  background-color: #f7f7f7;
  border-top: #dddddd 1px solid;
}

.contenedor-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100% !important;
}

.info-extra {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 300px;
}

.contenedor-angosto {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 770px;
  width: 100%; /* Ajusta el ancho máximo según tus necesidades */
  margin: 0 auto; /* Centra el contenedor */
  padding: 0px; /* Espacio interno */
  border-top: #dddddd 1px solid;
}

@media (min-width: 950px) {
}

.tw {
  margin: 12px;
}

.wpp {
  margin: 12px;
}

.ig {
  margin: 12px;
}

@media (max-width: 600px) {
  .pie {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .tw,
  .wpp,
  .ig {
    margin: 10px;
  }
}
