.carousel {
  display: flex;
  width: 100%;
}

.carousel-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 100%;
  padding: 20px 50px;
  box-sizing: border-box;
}

.carousel-items-wrapper {
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
}

.carousel-items {
  display: flex;
  gap: 20px;
  transition: transform 0.3s ease-in-out;
  padding: 2px;
}

.carousel-item {
  flex: 0 0 calc(33.333% - 14px); /* 3 items por fila con un gap de 20px */
  min-width: 0; /* Permite que los elementos se encojan si es necesario */
  margin-bottom: 15px; /* Añade espacio en la parte inferior */
  display: flex;
  flex-direction: column;
  height: auto; /*Cambia esto
  /* Elimina height: 450px; */
}

/* Este es el contenedor del alojamiento dentro del carousel-item */
.carousel-item > div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* Asegúrate de que las imágenes tengan la misma altura */
.carousel-item img {
  width: 100%;
  height: 200px; /* Mantén la altura fija solo para la imagen */
  object-fit: cover; /* Mantiene la proporción pero recorta si es necesario */
  border-radius: 8px;
}

/* Estilo para el contenido textual */
.carousel-item .content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* Asegúrate de que el botón esté al final y visible */
.carousel-item .ver-mas-button {
  margin-top: auto; /* Empuja el botón hacia abajo */
  width: 100%;
  padding: 10px;
  background-color: #a62dfd;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
}

.nav-button {
  position: absolute !important;
  z-index: 2;
  width: 40px !important;
  height: 40px !important;
  min-width: unset !important;
  padding: 0 !important;
  border-radius: 50% !important;
  background-color: white !important;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16) !important;
}

.prev-button {
  left: 10px;
}

.next-button {
  right: 10px;
}

/* Responsive */
@media (max-width: 992px) {
  .carousel-item {
    flex: 0 0 calc(50% - 10px); /* 2 items en tablets */
    height: auto; /* Asegura que siga siendo auto */
  }
}

@media (max-width: 576px) {
  .carousel-item {
    flex: 0 0 100%; /* 1 item en móviles */
    height: auto; /* Asegura que siga siendo auto */
  }
}
