.app-nav-search {
  display: flex;
  align-items: center;
  background-color: #cccccc;
  border-radius: 20px;
  padding: 10px;
  gap: 10px;
}

.search-bar-container {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Distribuye los elementos uniformemente */
  background-color: #fff;
  border-radius: 40px;
  padding: 10px 20px;
  gap: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  width: auto;
  max-width: 800px;
}

.search-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}

.search-section label {
  font-size: 12px;
  color: #888;
  margin-bottom: 4px;
}

.search-section input {
  height: 40px;
  border: 1px solid #ddd;
  border-radius: 20px;
  padding: 0 12px;
  font-size: 14px;
  outline: none;
  max-width: 85%;
}

.divider {
  width: 1px;
  background-color: #ddd;
  height: 40px;
}

.search-button {
  background-color: #a538ff;
  border: none;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.search-button:hover {
  background-color: #a538ff9d;
}

@media (max-width: 768px) {
  .search-bar {
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    width: 100%; /* Asegura que no se desborde */
  }

  .search-section {
    width: 100%;
    max-width: 100%; /* Limita el ancho máximo */
  }

  .divider {
    display: none;
  }

  .search-button {
    align-self: center;
  }
}
